
/* 💠 Boutons globaux */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: $shadow-soft;
  color: $white;
  text-align: center;

  &:hover {
    box-shadow: $shadow-hover;
    transform: translateY(-1px);
  }
}

/* ✅ Boutons succès / filtrer */
.btn-success {
  background-color: $success-color;
  &:hover {
    background-color: $success-hover;
  }
}

/* ℹ️ Boutons info / ajouter / gérer catégories */
.btn-info {
  background-color: $info-color;
  &:hover {
    background-color: $info-hover;
  }
}

/* ❌ Boutons supprimer (spécifique) */
.btn-danger {
  background-color: $error-color;
  &:hover {
    background-color: $error-hover;
  }
}

/* ❤️ Boutons danger / éditer */
a.btn-supp {
  background-color: $warning-color;
  color: $text-color;
  &:hover {
    background-color: $warning-hover;
  }
}

/* 👌 Pour aligner les boutons dans les conteneurs */
.actions-container,
.filter-container {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.btn-action {
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: $shadow-soft;
  color: $white;
  text-align: center;

  &:hover {
    box-shadow: $shadow-hover;
    transform: translateY(-1px);
  } // couleur par défaut de l’icône

  i {
    pointer-events: none; // empêche les clics sur l’icône
  }

  &:hover {
    transform: scale(1.1);
  }

  &.edit {
    background-color: rgba(255, 193, 7, 0.2); // jaune doux
    color: #ffc107;

    &:hover {
      background-color: rgba(255, 193, 7, 0.4);
    }
  }

  &.delete {
    background-color: #ffb5c58e; // rouge doux
    color: $error-hover;

    &:hover {
      background-color: $error-hover;
    }
  }

  &.add {
    background-color: rgba(46, 204, 112, 0.363); // vert doux
    color: #3ce783;

    &:hover {
      background-color: rgba(46, 204, 113, 0.4);
    }
  }
}
