@import "../config/colors";

/* Conteneur de barre */
.budget-progress-container {
  width: 100%;
  height: 18px;
  background-color: #bdb9f85b;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2px;
  border: 1px solid #fff;
  box-sizing: border-box;
}

/* Barre optimiste */
.budget-progress-opti {
  width: 0%;
  height: 18px;
  background: linear-gradient(90deg, #93c5fd 0%, #a5d8ff 50%, #d8b4f2 100%);
  border-radius: 6px;
  transition: width 0.5s ease;
  box-sizing: border-box;
  box-shadow: 0 0 8px white;
}

/* Barre réaliste */
.budget-progress-real {
  width: 0%;
  height: 18px;
  background: linear-gradient(90deg, #d8b4f2 0%, #caa6f9 50%, #fbb6ce 100%);
  border-radius: 6px;
  transition: width 0.5s ease;
  box-sizing: border-box;
  box-shadow: 0 0 8px white;
}

/* Barre pessimiste */
.budget-progress-pess {
  width: 0%;
  height: 18px;
  background: linear-gradient(90deg, #fbb6ce 0%, #fa95b7 50%, #fa78a3 100%);
  border-radius: 6px;
  transition: width 0.5s ease;
  box-sizing: border-box;
  box-shadow: 0 0 8px white;
}

/* Ajustements par ID */
[id^="budget-opti-"],
[id^="budget-real-"],
[id^="budget-pess-"] {
  padding: 2px 0 !important;
}
