@import "../config/colors";


/* ========================
   TABLE STYLÉE
======================== */
.table-container {
  width: 100%;
  @include flex-center;
  margin-top: 0.5rem;

  table.styled-table {
    width: 70%;
    max-width: 800px;
    border-collapse: collapse;
    border: 2px solid $white;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    thead {
      font-weight: 500;
      color: $white;

      th {
        @include pastel-gradient(0.3);
        padding: 1rem;
        font-size: 1.2rem;
        border-bottom: 2px solid $white;
        text-align: left;
        cursor: pointer;
        position: relative;

        &[data-sort] {
          &::after {
            content: '▾';
            font-size: 1rem;
            color: $white;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.2s;
          }

          &.asc::after {
            transform: translateY(-50%) rotate(180deg);
          }

          &.desc::after {
            transform: translateY(-50%) rotate(0deg);
          }
        }
      }
    }

    tbody {
      tr {
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 4px 12px rgba($violet-base, 0.25);
          background-color: rgba($highlight-color, 0.9)
        }

        td {
          background-color: rgba($violet-base, 0.5);
          padding: 1rem;
          font-size: 0.95rem;
          text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
          border-bottom: 1px solid rgba($white, 0.3);
          color: $white;
        }
      }
    }
  }
}

/* ========================
   CHART CONTAINER
======================== */
.chart-container {
  width: 100%;
  max-width: 500px;
  height: 500px;
  margin: 2rem auto;
  padding: 1rem;
  background: transparent;
  border-radius: 1.2rem;


  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

/* ========================
   FILTER CONTAINER
======================== */
.filter-container {
  width: 100%;
  max-width: 600px;
  @include flex-center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;

  label {
    font-weight: 700;
    margin-right: 0.5rem;
    color: $text-color;
  }

  .input-field {
    background-color: transparent;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    border: 2px solid $border-color;
    font-size: 1rem;
    outline: none;
    transition: all 0.2s;
    color: $white;

    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 3px rgba($primary-color, 0.3);
    }
  }
}

/* ========================
   ACTIONS CONTAINER
======================== */
.actions-container {
  margin-top: 60px;
  @include flex-center;
  gap: 15px;
}
.category-row td {
  color: var(--row-color)!important;
  transition: all 0.2s ease;
}
