@import "../config/colors";

/* ========================
   TOTALS
======================== */
.totals {
  text-align: center;
  margin-bottom: 2rem;

  p {
    margin: 0.6rem 0;
    font-weight: 600;
    font-size: 1rem;
    color: $text-color;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);

    &.available {
      color: $white; // couleur douce pour le solde disponible
      text-shadow: 0 0 8px rgba($secondary-color, 0.6);
    }

    strong {
      font-weight: 700;
      color: $secondary-color;
    }
  }
}
