<h1>Mes Prédictions</h1>

<%= link_to "Nouvelle Prédiction", new_prediction_path %>

<ul>
  <% @predictions.each do |prediction| %>
    <li>
      <%= link_to prediction.scenario_name, prediction_path(prediction) %>
      - <%= link_to "Editer", edit_prediction_path(prediction) %>
      - <%= link_to "Supprimer", prediction_path(prediction),
            data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" },
            class: "btn btn-danger" %>

    </li>
  <% end %>
</ul>
