<div id="prediction_show">
  <h1 class="prediction-title"><%= @prediction.scenario_name %></h1>

  <% if @prediction.forecast_data.present? %>

    <% forecast = @prediction.forecast_data["forecast"] || {} %>

    <% if forecast.present? %>
      <div id="goals_table">
        <%= render "forecast_table", forecast: forecast %>
      </div>
    <% end %>
  <% else %>
    <p class="no-forecast">Aucune prévision disponible pour cette prédiction.</p>
  <% end %>
</div>
