<h1>Mes budgets</h1>

<div id="goals_table">
  <table>
    <thead>
      <tr>
        <th>Catégorie</th>
        <th>Période</th>
        <th>Dépenses sur la période</th>
        <th>Optimiste</th>
        <th>Réaliste</th>
        <th>Pessimiste</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody id="budgets">
      <% @budgets.each do |budget| %>
        <% row_class =
             if budget.end_date.present? && budget.end_date < Date.current
               "budget-row-past"
             else
               ""
             end %>

        <%= render partial: "budget_row",
                   locals: { budget: budget, row_class: row_class } %>
      <% end %>
    </tbody>
  </table>
</div>

<div style="margin-top: 1rem; text-align: center;">
  <%= link_to "Nouveau budget", new_budget_path, class: "btn btn-info " %>
</div>
