@import "../config/fonts";
@import "../config/colors";

body {
  background-image: url('https://res.cloudinary.com/dw3eqi1tf/image/upload/v1760090648/pexels-merlin-11280357_fu23wt.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #F4FBFA;
  font-family: $font-base;
  color: $text-color;
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: $text-color;
  font-family: $font-script;
}

p, label, li, a {
  font-size: 0.95rem;
}

hr {
  opacity: 0.4;
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba($white, 0.4),
    transparent
  );
  margin: 1.5rem auto;
  width: 80%;
}
