<turbo-frame id="flash">
  <% flash.each do |type, message| %>
    <% next if message.blank? %>

    <% css_class = case type.to_sym
      when :notice then "flash flash-notice"
      when :alert  then "flash flash-alert"
      when :error  then "flash flash-error"
      else "flash"
    end %>

    <div class="<%= css_class %>" data-controller="flash">
      <%= message %>
    </div>
  <% end %>
</turbo-frame>
