<h2>Analyser un relevé bancaire (PDF)</h2>

<%= form_with url: analyze_reconciliations_path, local: true, multipart: true do |f| %>
  <div class="field">
    <%= f.label :bank_file, "Sélectionner un fichier PDF" %><br>
    <%= f.file_field :bank_file, accept: "application/pdf" %>
  </div>

  <div class="actions mt-3">
    <%= f.submit "Analyser le PDF" %>
  </div>
<% end %>
