<h1 style="text-align:center;">Éditer le revenu</h1>

<div style="max-width:400px; margin:auto;">
  <%= render "shared/form_transaction",
             transaction: @revenue,
             categories: @categories,
             category_type: @category_type %>
</div>


<div class="mt-4">
  <%= link_to "← Retour", revenues_path, class: "text-gray-600 hover:underline" %>
</div>
