.menu-btn {
  position: fixed;
  top: 2rem;
  left: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 200;
  color: #A8C0FF;
  transition: color 0.3s ease;

  &:hover { color: #CBA6FF; }
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px; // cachée
  width: 300px;
  height: 100%;
  background: linear-gradient(180deg, #A8C0FF, #CBA6FF);
  padding: 2rem 1rem;
  transition: left 0.3s ease;
  z-index: 100;
  display: flex;
  flex-direction: column;

  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .sidebar-title {
      color: #09abb1;
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      text-shadow: 0 2px 4px rgba(255,255,255,0.6);
      margin-left: 2rem; // espace après le bouton
      transition: transform 0.3s ease;


      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .sidebar-links {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1.5rem;

      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
        transition: color 0.3s ease;

        &:hover { color: #FF92AA; }
      }
    }
  }
}

// Affichage de la sidebar quand le menu est coché
.menu-toggle:checked + .menu-btn + .sidebar {
  left: 0;
}
