.period-selector {
  margin: 2rem auto;
  text-align: center;
  @include flex-center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;

  label {
    margin-right: 0.5rem;
    font-weight: 500;
    color: $text-color;
  }

  input[type="date"] {
    padding: 0.5rem 0.8rem;
    border: 1px solid $border-color;
    border-radius: 0.6rem;
    font-size: 0.95rem;
    background: transparent;
    color: $white;
    transition: all 0.2s ease;
    margin-right: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 3px rgba($primary-color, 0.3);
      background: rgba($primary-color, 0.5);
    }

    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
      cursor: pointer;
    }
  }
}
