@import "../config/colors";
@import "../config/mixins";

/*  TABLE STYLÉE (transactions index) */

.table-container {
  width: 100%;
  @include flex-center;
  margin-top: 0.1rem;

  table.styled-table {
    width: 70%;
    max-width: 800px;
    border-collapse: collapse;
    border: 2px solid $white;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    thead {
      font-weight: 500;
      color: $white;

      th {
        @include pastel-gradient(0.3);
        padding: 1rem;
        font-size: 1.2rem;
        border-bottom: 2px solid $white;
        text-align: left;
        cursor: pointer;
        position: relative;

        &[data-sort] {
          &::after {
            content: '▾';
            font-size: 1rem;
            color: $white;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.2s;
          }

          &.asc::after {
            transform: translateY(-50%) rotate(180deg);
          }

          &.desc::after {
            transform: translateY(-50%) rotate(0deg);
          }
        }
      }
    }

    tbody {
      tr {
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 4px 12px rgba($violet-base, 0.25);
          background-color: rgba($highlight-color, 0.9);
        }

        td {
          background-color: rgba($violet-base, 0.5);
          padding: 1rem;
          font-size: 0.95rem;
          text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
          border-bottom: 1px solid rgba($white, 0.3);
          color: $white;
        }
      }
    }
  }
}

/* Boutons "Ajouter", "Gérer les catégories" sous les graphes */
.actions-container {
  margin-top: 5rem;
  padding: 2rem;
  @include flex-center;
  gap: 15px;
}

/* Couleur de ligne par catégorie */
.category-row td {
  color: var(--row-color) !important;
  transition: all 0.2s ease;
}

.retour {
  @include flex-center;
}
