@import "../config/colors";
/* ========================
   CHART CONTAINER
======================== */
.chart-container {
  width: 100%;
  max-width: 500px;
  height: 500px;
  margin: 2rem auto;
  padding: 1rem;
  background: transparent;
  border-radius: 1.2rem;


  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
