// Graphical variables & design system
@import "config/fonts";
@import "config/colors";
@import "config/mixins";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Buttons, utilities
@import "config/buttons";

// Base styles
@import "base/globals";

// Components
@import "components/index";

// Pages
@import "pages/goals";
@import "pages/categories";
@import "pages/budget";
@import "pages/index_predictions";
@import "pages/home";
@import "pages/devise";
