// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/flash";
@import "components/periode_selector";
@import "components/navbar";
@import "components/transaction_table";
@import "components/transaction_chart";
@import "components/_form_prevision";

@import "config/boutons";
@import "devise";

@import "pages/goals";
@import "pages/categories";
@import "pages/budget";
@import "pages/index_predictions";

@import "pages/index";

body {
  background-image: url('https://res.cloudinary.com/dw3eqi1tf/image/upload/v1760090648/pexels-merlin-11280357_fu23wt.jpg');
  background-size: cover;          // prend tout l’écran
  background-position: center;     // centre bien l’image
  background-attachment: fixed;    // effet "parallaxe" doux
  background-repeat: no-repeat;
  background-color: #F4FBFA;       // couleur de fond de secours
  font-family: $font-base; // ta police principale
  color: $text-color;
}
h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: $text-color;
  font-family: $font-script;
}
p, label, li, a{
  font-size: 0.95rem;
}

hr {
  opacity: 0.4;
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba($white, 0.4), transparent);
  margin: 1.5rem auto;
  width: 80%;
}
