// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "config/boutons";
@import "devise";
body {
  background-image: url('https://res.cloudinary.com/dw3eqi1tf/image/upload/v1760090648/pexels-merlin-11280357_fu23wt.jpg');
  background-size: cover;          // prend tout l’écran
  background-position: center;     // centre bien l’image
  background-attachment: fixed;    // effet "parallaxe" doux
  background-repeat: no-repeat;
  background-color: #F4FBFA;       // couleur de fond de secours
  font-family: $font-base; // ta police principale
  color: $text-color;
}
h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: $text-color;
}
