<h1 style="text-align:center;">Mes catégories (<%= @category_type.capitalize %>)</h1>

<turbo-frame id="categories_list">
  <div style="width:400px; margin:auto;">
    <table style="width:100%; border-collapse:collapse;">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Couleur</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="categories">
        <%= render partial: "categories/category_row", collection: @categories, as: :category %>
      </tbody>
    </table>
  </div>
</turbo-frame>

<turbo-frame id="category_form">
  <%= render "form", category: @category, category_type: @category_type %>
</turbo-frame>
