<h1 class="categories-title">
  Mes catégories de
  <%= @category_type == "expense" ? "Dépenses" : "Revenus" %>
</h1>

<div class="categories-container">
  <!-- Tableau -->
  <turbo-frame id="categories_list">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Couleur</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="categories">
          <%= render partial: "categories/category_row", collection: @categories, as: :category %>
        </tbody>
      </table>
    </div>
  </turbo-frame>

  <!-- Formulaire -->
  <turbo-frame id="category_form">
    <%= render "form", category: @category, category_type: @category_type %>
  </turbo-frame>
</div>
